*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,ol,p{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 15px;
    font-weight: 400;
    font-size: normal;
    letter-spacing: normal;
    color: #000;
}
time{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #113745;
}
ul li {
    list-style-type: none;
}
.components-heading h2{
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #113745;
}
.category-href{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    color: #113745;
}
.large-article-title {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #113745;
}
.media-article-title{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #113745;
}
.small-article-title{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #113745;
}
.btn-primary{
    background-color:  #113745;
    border-color: #113745;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    opacity: 1;
    transition: all ease-in .2s;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #113745;
    border-color: #113745;
}
.btn-primary:hover{
    opacity: 0.8;
    background-color:  #113745;
    border-color: #113745;
}
.form-control:focus {
    color: #113745;
    background-color: #fff;
    border-color: #113745;
    outline: 0;
    box-shadow: none;
}
/* menu part */
#navbarPart{
    height: 70px;
    width: 100%;
}
#menuPart ul li a{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}
#menuPart ul li a:hover{
    text-decoration: underline;
}
#navbarPart .navbar-brand img{
    width: 150px;
    height: 70px;
}
/* banner part */
#bannerPart .carousel-inner .carousel-item img{
    height: 250px;
}
#adsBanner{
    margin: 30px 0;
}
#adsBanner img{
    width: 1000px;
    height: 130px;
}
/* lastest blog post */
#latestBlogPost{
    margin: 40px 0;
} 
#latestBlogPost .components-heading{
    margin-bottom: 20px;
} 
#blog-large-content a{
    text-decoration: none;
}
#blog-large-content .card-text{
    margin: 20px 0;
}
/* email newsletter */
.email-newsletter .card-body{
    padding: 1rem;
    background-color: #113745;
    color: #fff;
    border-radius: 5px;
}
.email-newsletter .card-body p{
    margin: 15px 5px;
    color: #fff;
}
.email-newsletter .btn-primary{
    border: 1px solid #fff;
}
/* featured post */
#featuredPost .components-heading{
    margin: 20px 0;
}
#featuredPost .media{
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}
#featuredPost .media a{
    display: block;
    margin-bottom: 20px;
}
#featuredPost .viewAllPost a{
    font-size: 16px;
    font-weight: 600;
    color: #113745;
}
/* popular post */
#popularPost{
    margin: 40px 0;
}
#popularPost a{
    text-decoration: none;
}
#popularPost .card-text{
    margin: 10px 0;
}
.readMore{
    color: #113745;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: normal;
}
.readMore:hover{
    color: #113745;
    text-decoration: underline !important;
}
/* footer part */
#footerPart{
    padding: 50px 0;
    background-color: #113745;
    color: #fff;
}
.footerComponent h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 25px;
}
.footerLink li {
    margin-bottom: 5px;
}
.footerLink li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
}
/* copy right part */
#copyRight{
    background-color: #171717;
    padding: 5px 0;
}
#copyRight .oikkolink{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;
}
.footerCopyrightSocialIcon ul li{
    float: left;
    margin: 0 10px;
}
.footerCopyrightSocialIcon ul li a{ 
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    transition: all ease-in .2s;
}
.footerCopyrightSocialIcon ul li a:hover{ 
    color: #113745;
}
/* category part */
#breadcrumb{
    margin: 20px 0;
}
.breadcrumb{
    margin-bottom: 0;
    background-color: #113745;
}
.breadcrumb .breadcrumb-item.active{
    color: #fff;
}
.breadcrumb li a{
    color: #fff;
}
.pagination{
    text-align: right !important;
    position: absolute;
    right: 15px;
    bottom: -20px;
}
.page-link{
    color: #000;
}
.page-link:focus{
    box-shadow: none !important;
}
.page-item.active .page-link{
    background-color: #113745;
    border-color: #113745;
}
#categoryBlogSearch{
    margin-bottom: 25px;
}
.categoryLink{
    margin-bottom: 25px;
}
.categoryLink li{
    margin-bottom: 5px;
}
.categoryLink li a{
    color: #113745;
    font-size: 16px;
    font-weight: 500;
    transition: all ease-in .2s;
}
.categoryLink li a:hover{
    text-decoration: underline !important;
}
.viewallCategory{
    margin-bottom: 25px;
    text-align: right;
    position: relative;
    right: -70%;
}
.viewallCategory a{
    transition: all ease-in .2s;
}
.viewallCategory a:hover{
    text-decoration: underline !important;
}
/* category part */